In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('weather_2012.csv')

In [4]:
df.head(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
df.tail(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
5043,2012-07-29 03:00:00,17.1,10.8,66,15,25.0,101.14,Mainly Clear
6335,2012-09-20 23:00:00,14.0,8.9,71,19,25.0,101.24,Mainly Clear
404,2012-01-17 20:00:00,-3.6,-5.7,85,24,3.2,98.98,Freezing Rain
2132,2012-03-29 20:00:00,2.2,-4.7,60,19,25.0,101.07,Cloudy
2869,2012-04-29 13:00:00,8.4,-11.1,24,32,48.3,101.64,Clear

In [7]:
df.columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [9]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [10]:
df_list=pd.DataFrame(df, columns=['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather'])
df_list

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:

rankings = {'Date/Time'}
rankings_pd = pd.DataFrame(rankings)

print(rankings_pd)

rankings_pd.rename(columns = {'Date/Time':'date_time'}, inplace = True)

print("\nAfter modifying first column:\n", rankings_pd.columns)

           0
0  Date/Time

After modifying first column:
 Index([0], dtype='int64')

In [12]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [13]:
df.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [14]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

df['temp_f'] = df['Temp (C)'].apply(celsius_to_fahrenheit)

In [15]:
df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30
...,...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow,32.18
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow,32.36
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow,31.10
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow,31.64
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow,32.00

In [16]:
desired_columns = ['temp_f', 'Temp (C)'] + [col for col in df.columns if col not in ['temp_f', 'Temp (C)']]
df = df[desired_columns]

In [17]:
df

,temp_f,Temp (C),Date/Time,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,28.76,-1.8,2012-01-01 00:00:00,-3.9,86,4,8.0,101.24,Fog
1,28.76,-1.8,2012-01-01 01:00:00,-3.7,87,4,8.0,101.24,Fog
2,28.76,-1.8,2012-01-01 02:00:00,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,29.30,-1.5,2012-01-01 03:00:00,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,29.30,-1.5,2012-01-01 04:00:00,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,32.18,0.1,2012-12-31 19:00:00,-2.7,81,30,9.7,100.13,Snow
8780,32.36,0.2,2012-12-31 20:00:00,-2.4,83,24,9.7,100.03,Snow
8781,31.10,-0.5,2012-12-31 21:00:00,-1.5,93,28,4.8,99.95,Snow
8782,31.64,-0.2,2012-12-31 22:00:00,-1.8,89,28,9.7,99.91,Snow
8783,32.00,0.0,2012-12-31 23:00:00,-2.1,86,30,11.3,99.89,Snow

In [18]:
df.columns

Index(['temp_f', 'Temp (C)', 'Date/Time', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [21]:
df['Date/Time'] = pd.to_datetime(df['Date/Time'])

In [22]:
df

,temp_f,Temp (C),Date/Time,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,28.76,-1.8,2012-01-01 00:00:00,-3.9,86,4,8.0,101.24,Fog
1,28.76,-1.8,2012-01-01 01:00:00,-3.7,87,4,8.0,101.24,Fog
2,28.76,-1.8,2012-01-01 02:00:00,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,29.30,-1.5,2012-01-01 03:00:00,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,29.30,-1.5,2012-01-01 04:00:00,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...,...
8779,32.18,0.1,2012-12-31 19:00:00,-2.7,81,30,9.7,100.13,Snow
8780,32.36,0.2,2012-12-31 20:00:00,-2.4,83,24,9.7,100.03,Snow
8781,31.10,-0.5,2012-12-31 21:00:00,-1.5,93,28,4.8,99.95,Snow
8782,31.64,-0.2,2012-12-31 22:00:00,-1.8,89,28,9.7,99.91,Snow
8783,32.00,0.0,2012-12-31 23:00:00,-2.1,86,30,11.3,99.89,Snow

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   temp_f              8784 non-null   float64
 1   Temp (C)            8784 non-null   float64
 2   Date/Time           8784 non-null   datetime64[ns]
 3   Dew Point Temp (C)  8784 non-null   float64
 4   Rel Hum (%)         8784 non-null   int64
 5   Wind Spd (km/h)     8784 non-null   int64
 6   Visibility (km)     8784 non-null   float64
 7   Stn Press (kPa)     8784 non-null   float64
 8   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(2), object(1)
memory usage: 617.8+ KB

In [25]:
df['Weather'].nunique()

50

In [26]:
df['Weather'].unique()[0:10]

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear'],
      dtype=object)

In [27]:
df.columns

Index(['temp_f', 'Temp (C)', 'Date/Time', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [30]:
df.query('temp_f>90 & Rel Hum (%)<50 & Dew Point Temp (C)>17')

SyntaxError: Python keyword not valid identifier in numexpr query (<unknown>, line 1)

In [31]:
def month():
    return (Date/Time)

df['Date/Time'] = df['dt.month'].apply(month)

KeyError: 'dt.month'

In [33]:
df.to_csv('weather_2012_new.csv',index=False)

In [34]:
df=pd.read_csv('weather_2012_new.csv',index_col=[0])
df.sample(2)

,Temp (C),Date/Time,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
temp_f,,,,,,,,
68.00,20.0,2012-06-13 19:00:00,8.5,47,17,48.3,101.57,Clear
69.44,20.8,2012-07-03 23:00:00,14.8,69,0,25.0,100.32,Rain Showers